<div class="container">
  <div class="title-container">
    <img src="../../assets/images/Logo.png" alt="Logo" class="logo">
    <p class="title-text">SOLITO</p>
  </div>
  <div class="link-container">
    <div class="social-link-container">
      <p class="social-link-text">SOCIAL LINKS</p>
      <div class="social-links">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
    </div>
    <a href="https://www.apple.com/app-store/" class="download-link"><img src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png" alt="Download on App Store" class="download-link-image"></a>
    <a href="https://www.apple.com/app-store/" class="download-link"><img src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png" alt="Download on Google Play" class="download-link-image"></a>
  </div>
  <hr>
  <div class="copyright-text">&copy; Solito. All rights reserved.</div>
</div>
