/* You can add global styles to this file, and also import other style files */
:root {
  --primary-bg: #F4EEFF;
  --secondary-bg: #DCD6F7;
  --component-bg: #A6B1E1;
  --dark-font-color: #424874;
  --light-font-color: white;
  font-size: 18px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
